.section-a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    padding-top: calc(27vh)
  }
  
  h1 {
    letter-spacing: 1px; 
    font-weight: 300;   
}